<mat-toolbar color="primary">
    <div class="header-content">
        <div class="logo">
            <!-- Your logo image or text goes here -->
            <img src="../../assets/mbs.png" alt="Logo">
        </div>
        <div class="company-name">
            <p class="main-title">{{infoService.contactInfo.companyName}}</p>
            <p class="sub-title">Connecting Talent with Opportunities</p>
        </div>
        <div class="actions">
            <a routerLink="/about">About</a>
            <a routerLink="/current-openings">Current Openings</a>
            <a routerLink="/join">Join</a>
            <a routerLink="/sign-in">Sign In</a>
        </div>
    </div>
</mat-toolbar>