:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the layout takes at least the full height of the viewport */
  }
  
  app-header,
  app-footer {
    flex: 0 0 auto; /* Header and footer won't grow, they will take their content's height */
  }
  
  app-main-content {
    flex: 1; /* Main content will take up the remaining space */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the viewport height */
  }
  