<ng-container *ngIf="(jobs$ | async) as jobs">
    <ng-container *ngIf="jobs && jobs.length">
        <div class="card-container">
            <div *ngFor="let job of jobs" class="job-card">
              <h3>{{ job.title }}</h3>
              <p>{{ job.description }}</p>
              <ul>
                <li><strong>Job Type:</strong> {{ job.jobType }}</li>
                <li><strong>Location:</strong> {{ job.location }}</li>
                <li><strong>Experience:</strong> {{ job.experience }}</li>
              </ul>
            </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="!jobs || jobs.length === 0">
        <p>No job openings available at the moment.</p>
      </ng-container>
</ng-container>
  